$dp-styles-font-path: "~@deskpro/react-components/src/styles/fonts/";
@import "~@deskpro/react-components/src/styles/main.scss";
@import "./components/UserCard";
@import "./components/SubscriptionList";
@import "./components/CampaignActivityList";

html.deskpro-sidebar
{
  height: auto;
  margin: 0;
  padding: 0;
}

.dp-input {
  width: 100%;
  input {
    width: 100%;
  }
}

.dp-button {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}